body{
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(154, 161, 170);
}

.menu-bar{
    height: 80px;
    display:flex;
    align-items: center;
    background-color: rgb(205, 213, 224);
    box-shadow: 0px 12px 51px -11px rgba(0,0,0,0.46);
}

.menu-bar .logo{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    background-image: url("../img/logo.jpg");
    background-size: cover;
    border-radius: 40%;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 50px;
    margin-left: 30px;
    margin-right: 50px;
}

.menu-bar button{
    background-color: rgb(229, 225, 233);
    border: 3px solid rgb(118, 88, 136);
    border-radius: 10%;
    height: 35px;
    width: 60px;
    margin:auto 25px ;
    outline: none;
}

.menu-bar button:hover{
    background-color: rgb(118, 88, 136);
    color: white;
}

.menu-bar label{
    margin-left: 80px;
    margin-right: 5px;
}

.menu-bar #canvas-sizes{
    width: 110px;
}


.side-menu-wrap{
    display: inline-block;
    vertical-align: top;
}

#side-menu{
    display: grid;
    background-color: rgb(205, 213, 224);
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(7,80px);
    margin-right: 10px;
    padding-top: 30px;
    box-shadow: 12px 12px 51px -11px rgba(0,0,0,0.46);
    justify-items: center;
    align-items: center;
    height: 100vh;
}

#side-menu button{
    height: 40px;
    width: 50px;
    border-radius: 5%;
    outline-color:rgb(118, 88, 136);
    outline-style: ridge; 
}

.color{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    padding: 20px;
}

.active{
    border:2px solid gray;
}

button, .color{
    cursor: pointer;
}

#canvas{
    display: inline-block;
    vertical-align: top;
    position: relative;
    outline: 6px solid rgb(205, 213, 224);
    background-color: white;
    margin: 30px;
    cursor: url('../img/paintbrush.png'), auto;
}

#canvas.eraser-cursor{
    cursor: url('../img/eraser.png'), auto;
}

#canvas.fill-cursor{
    cursor: url('../img/paint-bucket.png'), auto;
}

.shape{
    background-color: black;
    height: 20px;
    width: 20px;
    margin: 0 auto;
}

.circle{
    border-radius: 100%;
}

.range-wrap{
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    justify-self: stretch;
    display: flex;
    justify-content: space-around;
}


#thickness-value{
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
    padding: 3px 5px;
}




